/*-- scss:defaults --*/

$my-green: #4CBB17 !default;
$my-success-color: $my-green !default;
$my-text-color: $my-success-color !default;

/*-- scss:rules --*/

.highlight-word{
  color: $my-success-color;
  background-color: lighten($my-success-color, 20%);
}